@page "/"

<PageTitle>About me</PageTitle>

<MudSlider @bind-Value="spacingColumns" Min="0" Max="90" Color="Color.Info" Class="mb-6">Spacing columns: @spacingColumns.ToString()</MudSlider>
<MudSlider @bind-Value="gapItems" Min="0" Max="90" Color="Color.Info" Class="mb-6">Gap between items:: @gapItems.ToString()</MudSlider>


<div style="grid-column-gap: @(spacingColumns)px;" class="gallery-grid-3 d-none d-lg-grid">

    <div style="gap: @(gapItems)px;" class="gallery-column">
        @foreach (var item in GetEveryNthItem(3))
        {
            <img class="gallery-image" src="@($"/images/nature/Nature{item}.jpg")" />
        }
    </div>
    <di style="gap: @(gapItems)px;" v class="gallery-column">
        @foreach (var item in GetEveryNthItem(3, 1))
        {
            <img class="gallery-image" src="@($"/images/nature/Nature{item}.jpg")" />
        }
    </di>
    <div style="gap: @(gapItems)px;"  class="gallery-column">
        @foreach (var item in GetEveryNthItem(3, 2))
        {
            <img class="gallery-image" src="@($"/images/nature/Nature{item}.jpg")" />
        }

    </div>
</div>
<div style="grid-column-gap: @(spacingColumns)px;" class="gallery-grid-2 d-grid d-lg-none">

    <div style="gap: @(gapItems)px;" class="gallery-column">
        @foreach (var item in GetEveryNthItem(2))
        {
                <img class="gallery-image" src="@($"/images/nature/Nature{item}.jpg")" />
        }
    </div>
    <div style="gap: @(gapItems)px;" class="gallery-column">
        @foreach (var item in GetEveryNthItem(2, 1))
        {
                <img class="gallery-image" src="@($"/images/nature/Nature{item}.jpg")" />
        }
    </div>

</div>
